@media screen and (max-width: 600px) {
	body {
		
		display: flex;
		flex-direction: column;
	}
	
   .third {
	display: flex;
	flex-direction: column;
	align-items: center;
}
}

@media screen and (max-width: 820px) {
	body {
		display: flex;
		flex-direction: column;
	}
	.third {
		display: flex;
	flex-direction: column;
	align-items: center;
	}

}


	body {
		display: flex;
		flex-direction: column;
	}
	.third {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
